<form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-6">
  <app-input
    label="Email"
    i18n-label="@@emailLabel"
    type="email"
    formControlName="email"
    placeholder="admin@mavluda.beauty"
    i18n-placeholder="@@emailPlaceholder"
    [error]="emailError"
    [required]="true"
  ></app-input>

  <app-input
    label="Пароль"
    i18n-label="@@passwordLabel"
    type="password"
    formControlName="password"
    placeholder="••••••••"
    i18n-placeholder="@@passwordPlaceholder"
    [error]="passwordError"
    [required]="true"
  ></app-input>

  <div class="flex items-center justify-between">
    <div class="flex items-start">
      <div class="flex items-center h-5">
        <input
          id="remember"
          aria-describedby="remember"
          type="checkbox"
          class="w-4 h-4 border border-surface-300 rounded bg-surface-50 focus:ring-3 focus:ring-primary-300"
        />
      </div>
      <div class="ml-3 text-sm">
        <label for="remember" class="text-surface-500" i18n="@@rememberMe"
          >Запомнить меня</label
        >
      </div>
    </div>
    <a
      href="#"
      class="text-sm font-medium text-primary-600 hover:underline"
      i18n="@@forgotPassword"
      >Забыли пароль?</a
    >
  </div>

  <app-button
    type="submit"
    [disabled]="form.invalid"
    [loading]="isLoading()"
    [fullWidth]="true"
    [label]="buttonLabel()"
  ></app-button>
</form>
